extends ../templates/_template.pug

block game
	//- .row
	//- 	.col
	#game
	
	//- canvas#simplexMapRender.mb-4

	//- canvas#textureMapRender.d-none
	//- .d-flex.flex-column
	//- 	strong Textured map scaled down to 20%:
	//- 	#textureMapImage( style='transform: scale(.2); transform-origin: top left; width: fit-content; margin: -7.5% 15%' )
		