extends ../templates/_template.pug

block game
	#playerStats

	p.mb-0
		strong hold shift to sprint
	p.mb-0
		strong collect coins

	.d-flex
		#game
	
	canvas#simplexMapRender.mb-4

	canvas#textureMapRender.d-none

	.d-flex.flex-column
		strong Textured map scaled down to 20%:
		#textureMapImage( style='transform: scale(.2); transform-origin: top left; width: fit-content; margin: -7.5% 15%' )
		