doctype html

html
	head
		title game.js
		link( rel="shortcut icon" href="")

		//- Styles
		link( href="./css/game.css" rel="stylesheet" )

		//- kittykatattack
		script(
			src="./dev/js/utilities/spriteUtilities/spriteUtilities.js"
			)

		//- Main js file	
		script( 
		  src="./dev/js/_game.js"
		  type='module'
		  defer)
		
	body
		//- .container-fluid
		block game
